<div class="app-content content">
  <div class="content-wrapper">
       <div class="content-body">
      <section id="drag-area">
        <div class="row">
          <div class="col-md-12" *blockUI="'changelog'; message: 'Loading'">
            <m-card [options]="options" (reloadFunction)="reloadChangelog($event)">
              <ng-container mCardHeaderTitle>
                Versão Inicial
              </ng-container>
              <ng-container mCardBody>
                <h5 class="my-2">28-110-2019 [V1.1]</h5>
                <div class="card-text">
                  <ul>
                    <li>primeiro release</li>
                  </ul>
                </div>
              </ng-container>
            </m-card>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
