<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-header row mb-1"></div>
    <div class="content-body">
      <!-- Basic form layout section start -->
      <section id="basic-form-layouts">
        <div class="row" matchHeight="card">
          <div *blockUI="'projectInfo'; message: 'Loading'" class="col-md-11">
            <m-card [options]="options">
              <ng-container mCardHeaderTitle>
                <div class="col-md-7"> Cadastro de Máscara do Sistema da Imagem Radiologia</div>
                <div class="col-md-5">
                  <button (click)="openDialog()">
                    Mascaras Cadastradas
                  </button>
                </div>
               
              </ng-container>
              <ng-container>
                <form (ngSubmit)="manage(maskForm.value)"
                      [formGroup]="maskForm">
                  <div class="form-body">
                    <div class="row">
                      <div class="col-md-8">
                        <div class="form-group">
                          <label for="nome">Nome da Máscara *</label>
                          <input [ngClass]="{
                              'is-invalid': submitted && f.mascara.errors
                            }"
                                 class="form-control"
                                 formControlName="mascara"
                                 id="mascara"
                                 placeholder="Nome da Máscara"
                                 type="text" />
                          <small *ngIf="submitted && f.mascara.errors"
                                 class="invalid-feedback">
                            <div *ngIf="f.mascara.errors.required">
                              Nome da máscara é requerido
                            </div>
                          </small>
                        </div>
                      </div>
                      <div class="col-md-4 botao">
                        <button (click)="pesquisaMascara(maskForm.value)"
                                color="primary"
                                mat-raised-button
                                type="button">
                          <mat-icon>search</mat-icon>Pesquisar
                        </button>
                      </div>
                    </div>

                    <h4 class="form-section">
                      <i class="feather ft-map-pin"></i> POSIÇÃO DO EXAME
                      (DIREITO, ESQUERDO, COSTAS, FRENTE, ETC)
                    </h4>
                    <div formArrayName="examesposicao">
                      <div [formGroupName]="i"
                           *ngFor="
                          let item of maskForm.get('examesposicao')['controls'];
                          let i = index
                        ">
                        <div class="row">
                          <div class="col-md-9">
                            <div class="form-group">
                              <label (click)="removeItem()" for="exames">
                                POSIÇÃO {{ i + 1 }}
                              </label>
                              <input class="form-control"
                                     formControlName="exames"
                                     id="exames"
                                     placeholder="Posição do Exame"
                                     type="text" />
                              <small *ngIf="submitted && f.examesposicao.invalid"
                                     class="invalid-feedback">
                                <div>Dê um valor para a posição criada</div>
                              </small>
                            </div>
                          </div>
                          <div class="col-md-3">
                            <button (click)="removeExames(i)"
                                    *ngIf="i > 0"
                                    float-right
                                    type="button">
                              X
                            </button>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <button (click)="addExames()" float-right type="button">
                          + Outra Posição
                        </button>
                      </div>
                    </div>
                    <hr />
                    <h4 class="form-section"></h4>
                    <hr />

                    <h4 class="form-section">
                      <i class="feather ft-map-pin"></i> DESCRIÇOES DE LAUDOS NORMAIS
                    </h4>
                    <div formArrayName="examesnormais">
                      <div [formGroupName]="i"
                           *ngFor="
                            let item of maskForm.get('examesnormais')['controls'];
                            let i = index">
                        <div class="row">
                          <div class="col-md-9">
                            <div class="form-group">
                              <label (click)="removeItem()" for="laudosnormais">
                                NORMAL {{ i + 1 }}
                              </label>
                              <input class="form-control"
                                     formControlName="laudosnormais"
                                     id="laudosnormais"
                                     placeholder="Descriçao para exame normal"
                                     type="text" />
                              <small *ngIf="submitted && f.examesnormais.invalid"
                                     class="invalid-feedback">
                                <div>Descreva uma Normalidade</div>
                              </small>
                            </div>
                          </div>
                          <div class="col-md-3">
                            <button (click)="removeExamesNormais(i)"
                                    *ngIf="i > 0"
                                    float-right
                                    type="button">
                              X
                            </button>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <button (click)="addExamesNormais()"
                                float-right
                                type="button">
                          + Outra Descição Normal
                        </button>
                      </div>
                    </div>
                    <hr />
                    <h4 class="form-section"></h4>
                    <hr />

                    <h4 class="form-section">
                      <i class="feather ft-list"></i> LAUDOS
                    </h4>
                    <div formArrayName="laudossiglas">
                      <div [formGroupName]="i"
                           *ngFor="
                          let item of maskForm.get('laudossiglas')['controls'];
                          let i = index
                        ">
                        <div class="row">
                          <div class="col-md-2">
                            <div class="form-group">
                              <label for="laudos">Sigla {{ i + 1 }}:</label>
                              <input class="form-control"
                                     formControlName="laudos"
                                     id="laudos"
                                     placeholder="Defina uma sigla"
                                     type="text" />
                              <small *ngIf="submitted && f.laudossiglas.invalid"
                                     class="invalid-feedback">
                                <div>
                                  Os dois campos precisam ser preenchidos
                                </div>
                              </small>
                            </div>
                          </div>
                          <div class="col-md-7">
                            <div class="form-group">
                              <label for="descricao">Descrição:</label>
                              <input class="form-control"
                                     formControlName="descricao"
                                     id="descricao"
                                     placeholder="Defina uma descrição para a sigla "
                                     type="text" />
                            </div>
                          </div>
                          <div class="col-md-3">
                            <button (click)="removeLaudos(i)"
                                    *ngIf="i > 0"
                                    float-right
                                    type="button">
                              X
                            </button>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <button (click)="addLaudos()" float-right type="button">
                          + Outra Sigla
                        </button>
                      </div>
                    </div>

                    <hr />
                    <h4 class="form-section"></h4>
                    <hr />

                    <h4 class="form-section">
                      <i class="feather ft-list"></i> DESCRIÇÕES DE LAUDOS
                    </h4>
                    <div formArrayName="laudosdesc">
                      <div [formGroupName]="i"
                           *ngFor="
                          let item of maskForm.get('laudosdesc')['controls'];
                          let i = index
                        ">
                        <div class="row">
                          <div class="col-md-9">
                            <div class="form-group">
                              <label for="laudosmin">
                                Descrição {{ i + 1 }}:
                              </label>
                              <input class="form-control"
                                     formControlName="laudosmin"
                                     id="laudosmin"
                                     placeholder="Defina um descritivo para o laudo"
                                     type="text" />
                            </div>
                          </div>
                          <div class="col-md-3">
                            <button (click)="removeLaudosDesc(i)"
                                    *ngIf="i > 0"
                                    float-right
                                    type="button">
                              X
                            </button>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <button (click)="addLaudosDesc()"
                                float-right
                                type="button">
                          + Outra Descrição
                        </button>
                      </div>
                    </div>

                    <div class="form-actions">
                      <div *ngIf="update">
                        <button class="btn btn-warning mr-1" type="button" (click)="deletaMascara(maskForm.value)">
                          <i class="feather ft-x"></i> Deleta
                        </button>
          
                        <button class="btn btn-primary" type="button" (click)="atualizaMascara(maskForm.value)">
                          <i class="la la-check"></i> Atualiza
                        </button>
                      </div>
                      <div *ngIf="!update">
                        <button class="btn btn-primary" type="submit">
                          <i class="la la-check"></i> Confirma
                        </button>
                      </div>
                     
                    </div>
                  </div>
                </form>
              </ng-container>
            </m-card>
          </div>
        </div>
      </section>

      <!-- // Basic form layout section end -->
    </div>
  </div>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////-->
