<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-header row mb-1">
      <app-breadcrumb class="col-12" [breadcrumb]="breadcrumb"></app-breadcrumb>
    </div>
    <div class="content-body">
      <!-- Basic form layout section start -->
      <section id="basic-form-layouts">
        <div class="row" matchHeight="card">
          <div class="col-md-11" *blockUI="'projectInfo'; message: 'Loading'">
            <m-card [options]="options">
              <ng-container mCardHeaderTitle>
                Cadastro de Exames por Paciente no Sistema
              </ng-container>
              <ng-container mCardBody>
                <div class="card-text">
                  <p>
                    Insira abaixo as informações dos pacientes e seus exames
                  </p>
                </div>
                <form
                  [formGroup]="cadEquipe"
                  (ngSubmit)="oncadEquipeSubmit(cadEquipe.value)"
                >
                  <div class="form-body">
                    <h4 class="form-section">
                      <i class="feather ft-user"></i> Informações Pessoais
                    </h4>
                    <div class="row">
                      <div class="col-md-7">
                        <div class="form-group">
                          <label for="nome">Nome *</label>
                          <input
                            type="text"
                            id="nome"
                            class="form-control"
                            formControlName="firstName"
                            placeholder="Nome"
                            [ngClass]="{
                              'is-invalid': submitted && f.firstName.errors
                            }"
                          />
                          <small
                            class="form-text text-muted danger"
                            *ngIf="submitted && f.firstName.errors"
                            class="invalid-feedback"
                          >
                            <div *ngIf="f.firstName.errors.required">
                              Nome é Requerido
                            </div>
                          </small>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div class="form-group">
                          <label for="cpf">CPF *</label>
                          <input
                            type="text"
                            id="cpf"
                            class="form-control"
                            formControlName="cpf"
                            placeholder="CPF"
                            [ngClass]="{
                              'is-invalid': submitted && f.cpf.errors
                            }"
                          />
                          <small
                            class="form-text text-muted danger"
                            *ngIf="submitted && f.cpf.errors"
                            class="invalid-feedback"
                          >
                            <div *ngIf="f.cpf.errors.required">
                              CPF é requerido
                            </div>
                          </small>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group">
                          <label for="niver">Data Nascimento *</label>
                          <mat-form-field>
                            <input
                              matInput
                              [matDatepicker]="niver"
                              placeholder="Input disabled"
                              disabled
                              formControlName="niver"
                            />
                            <mat-datepicker-toggle
                              matSuffix
                              [for]="niver"
                            ></mat-datepicker-toggle>
                            <mat-datepicker
                              #niver
                              disabled="false"
                            ></mat-datepicker>
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-2">
                        <div class="form-group">
                          <label for="sexo">Sexo *</label>
                          <select
                            formControlName="sexo"
                            id="sexo"
                            class="form-control"
                          >
                            <option
                              *ngFor="let sexo of sexos"
                              [value]="sexo.id"
                            >
                              {{ sexo.label }}
                            </option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group">
                          <label for="medico">Nome do Médico *</label>
                          <input
                            type="text"
                            id="medico"
                            class="form-control"
                            formControlName="medico"
                            placeholder="Medico"
                            [ngClass]="{
                              'is-invalid': submitted && f.medico.errors
                            }"
                          />
                          <small
                            class="form-text text-muted danger"
                            *ngIf="submitted && f.medico.errors"
                            class="invalid-feedback"
                          >
                            <div *ngIf="f.medico.errors.required">
                              Fone é requerido
                            </div>
                          </small>
                        </div>
                      </div>
                      <div class="col-md-7">
                        <div class="form-group">
                          <label for="exame">Exame *</label>
                          <select
                            multiple
                            formControlName="tipoexame"
                            id="exame"
                            class="form-control"
                          >
                            <option
                              *ngFor="let exame of exames"
                              [ngValue]="exame"
                              (change)="changeTipoexame($event)"
                            >
                              {{ exame }}
                            </option>
                          </select>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-2">
                        <div class="form-group">
                          <label for="equito">Tipo Equipamento *</label>
                          <select
                            formControlName="equipamento"
                            id="equito"
                            class="form-control"
                          >
                            <option
                              *ngFor="let equito of equipamentos"
                              [value]="equito.id"
                            >
                              {{ equito.label }}
                            </option>
                          </select>
                        </div>
                      </div>

                      <div class="col-md-3">
                        <div class="form-group">
                          <label for="dp3">Data Agendada *</label>
                          <mat-form-field>
                            <input
                              matInput
                              [matDatepicker]="dp3"
                              placeholder="Input disabled"
                              disabled
                              formControlName="data"
                            />
                            <mat-datepicker-toggle
                              matSuffix
                              [for]="dp3"
                            ></mat-datepicker-toggle>
                            <mat-datepicker
                              #dp3
                              disabled="false"
                            ></mat-datepicker>
                          </mat-form-field>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-2">
                        <div class="form-group">
                          <label for="hora">Hora *</label>
                          <input
                            type="text"
                            id="hora"
                            class="form-control"
                            formControlName="hora"
                            maxlength="2"
                            placeholder="08:00"
                            [ngClass]="{
                              'is-invalid': submitted && f.hora.errors
                            }"
                          />
                          <small
                            class="form-text text-muted danger"
                            *ngIf="submitted && f.hora.errors"
                            class="invalid-feedback"
                          >
                            <div *ngIf="f.hora.errors.required">
                              Data Agendada é Requerido
                            </div>
                          </small>
                        </div>
                      </div>

                      <div class="col-md-2">
                        <div class="form-group">
                          <label for="min">Min *</label>
                          <input
                            type="text"
                            id="min"
                            class="form-control"
                            formControlName="min"
                            maxlength="2"
                            placeholder="08:00"
                            [ngClass]="{
                              'is-invalid': submitted && f.min.errors
                            }"
                          />
                          <small
                            class="form-text text-muted danger"
                            *ngIf="submitted && f.min.errors"
                            class="invalid-feedback"
                          >
                            <div *ngIf="f.min.errors.required">
                              Data Agendada é Requerido
                            </div>
                          </small>
                        </div>
                      </div>

                      <div class="col-md-2">
                        <div class="form-group">
                          <label for="tecnico">Tecnico *</label>
                          <input
                            type="text"
                            id="tecnico"
                            class="form-control"
                            formControlName="tecnico"
                            placeholder="Nome"
                            [ngClass]="{
                              'is-invalid': submitted && f.tecnico.errors
                            }"
                          />
                          <small
                            class="form-text text-muted danger"
                            *ngIf="submitted && f.tecnico.errors"
                            class="invalid-feedback"
                          >
                            <div *ngIf="f.tecnico.errors.required">Tecnico</div>
                          </small>
                        </div>
                      </div>

                      <div class="col-md-2">
                        <div class="form-group">
                          <label for="unidade">Unidade *</label>
                          <select
                            formControlName="unidade"
                            id="unidade"
                            class="form-control"
                          >
                            <option
                              *ngFor="let unidade of unidades"
                              [value]="unidade.id"
                            >
                              {{ unidade.label }}
                            </option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div class="form-group">
                          <label for="unidade">Laudo *</label>
                          <select
                            formControlName="laudo"
                            id="laudo"
                            class="form-control"
                          >
                            <option
                              *ngFor="let laudo of laudos"
                              [value]="laudo.id"
                            >
                              {{ laudo.label }}
                            </option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div class="form-group">
                          <label for="descricao">Desc Exame*</label>
                          <input
                            type="text"
                            id="descricao"
                            class="form-control"
                            formControlName="descricao"
                            placeholder="Descrição"
                            [ngClass]="{
                              'is-invalid': submitted && f.descricao.errors
                            }"
                          />
                          <small
                            class="form-text text-muted danger"
                            *ngIf="submitted && f.descricao.errors"
                            class="invalid-feedback"
                          >
                            <div *ngIf="f.descricao.errors.required">
                              Descrição
                            </div>
                          </small>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-actions">
                    <button type="button" class="btn btn-warning mr-1"  (click)="cancela()">
                      <i class="feather ft-x"></i> Cancela
                    </button>
                    <button type="submit" class="btn btn-primary" >
                      <i class="la la-check"></i> Confirma
                    </button>
                  </div>
                </form>
              </ng-container>
            </m-card>
          </div>
        </div>
      </section>

      <!-- // Basic form layout section end -->
    </div>
  </div>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////-->
