<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-header row mb-1">
     
    </div>
    <div class="content-body">
      <!-- Basic form layout section start -->
      <section id="basic-form-layouts">
        <div class="row" matchHeight="card">
          <div *blockUI="'projectInfo'; message: 'Loading'" class="col-md-11">
            <m-card [options]="options">
              <ng-container mCardHeaderTitle>
                Cadastro de Exames por Paciente no Sistema
              </ng-container>
              <ng-container mCardBody>
                <div class="card-text">
                  <p>
                    Insira abaixo as informações dos pacientes e seus exames
                  </p>
                </div>

                <form (submit)="oncadEquipeSubmit(cadEquipe.value)" [formGroup]="cadEquipe">
                  <div class="form-body">
                    <h4 class="form-section">
                      <i class="feather ft-user"></i> Informações Pessoais
                    </h4>
                    <div class="row">
                      <div class="col-md-5">
            
                        <div class="form-group">
                          <label for="nome">Nome *</label>
                          <input [ngClass]="{ 'is-invalid': submitted && f.firstName.errors}"
                                 class="form-control"
                                 formControlName="firstName"
                                 id="nome"
                                 placeholder="Nome"
                                 type="text" />
                          <small *ngIf="submitted && f.firstName.errors"
                                 class="invalid-feedback">
                            <div *ngIf="f.firstName.errors.required">
                              Nome é Requerido
                            </div>
                          </small>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div class="form-group">
                          <label for="cpf">ID *</label>
                          <input [ngClass]="{
                              'is-invalid': submitted && f.cpf.errors}"
                                 class="form-control"
                                 formControlName="idcliente"
                                 id="cpf"
                                 placeholder="ID Cliente"
                                 type="text" />
                          <small *ngIf="submitted && f.cpf.errors"
                                 class="invalid-feedback">
                            <div *ngIf="f.cpf.errors.required">
                              Id Cliente é requerido
                            </div>
                          </small>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group">
                          <label for="niver">Data Nascimento *</label>
                          <mat-form-field>
                            <input [matDatepicker]="niver"
                                   disabled
                                   formControlName="niver"
                                   matInput/>
                            <mat-datepicker-toggle [for]="niver" matSuffix>
                            </mat-datepicker-toggle>
                            <mat-datepicker #niver disabled="false">
                            </mat-datepicker>
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-2">
                        <div class="form-group">
                          <label for="sexo">Sexo *</label>
                          <select class="form-control"
                                  formControlName="sexo"
                                  id="sexo">
                            <option [value]="sexo.id"
                                    *ngFor="let sexo of sexos">
                              {{ sexo.label }}
                            </option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group">
                          <label for="medico">Nome do Médico *</label>
                          <input [ngClass]="{
                              'is-invalid': submitted && f.medico.errors
                            }"
                                 class="form-control"
                                 formControlName="medico"
                                 id="medico"
                                 placeholder="Medico"
                                 type="text" />
                          <small *ngIf="submitted && f.medico.errors"
                                 class="invalid-feedback">
                            <div *ngIf="f.medico.errors.required">
                              Fone é requerido
                            </div>
                          </small>
                        </div>
                      </div>
                      <div class="col-md-7">
                        <div class="form-group">
                          <label for="exame">Exame *</label>
                          <select class="form-control"
                                  formControlName="tipoexame"
                                  id="exame"
                                  multiple>
                            <option (change)="changeTipoexame($event)"
                                    [ngValue]="exame"
                                    *ngFor="let exame of exames">
                              {{ exame.id }}
                            </option>
                          </select>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-5">
                        <div class="form-group">
                          <label for="equito">Tipo Equipamento *</label>
                          <select class="form-control"
                                  formControlName="equipamento"
                                  id="equito">
                            <option [value]="equito.id"
                                    *ngFor="let equito of equipamentos">
                              {{ equito.label }}
                            </option>
                          </select>
                        </div>
                      </div>

                      <div class="col-md-3">
                        <div class="form-group">
                          <label for="dp3">Data Agendada *</label>
                          <mat-form-field>
                            <input [matDatepicker]="dp3"
                                   disabled
                                   formControlName="data"
                                   matInput
                                   placeholder="Input disabled" />
                            <mat-datepicker-toggle [for]="dp3" matSuffix>
                            </mat-datepicker-toggle>
                            <mat-datepicker #dp3 disabled="false">
                            </mat-datepicker>
                          </mat-form-field>
                        </div>
                      </div>
                  
                      <div class="col-md-2">
                        <div class="form-group">
                          <label for="hora">Hora *</label>
                          <input [ngClass]="{
                              'is-invalid': submitted && f.hora.errors
                            }"
                                 class="form-control"
                                 formControlName="hora"
                                 id="hora"
                                 maxlength="2"
                                 placeholder="08:00"
                                 type="text" />
                          <small *ngIf="submitted && f.hora.errors"
                                 class="invalid-feedback">
                            <div *ngIf="f.hora.errors.required">
                              Data Agendada é Requerido
                            </div>
                          </small>
                        </div>
                      </div>

                      <div class="col-md-2">
                        <div class="form-group">
                          <label for="min">Min *</label>
                          <input [ngClass]="{
                              'is-invalid': submitted && f.min.errors
                            }"
                                 class="form-control"
                                 formControlName="min"
                                 id="min"
                                 maxlength="2"
                                 placeholder="08:00"
                                 type="text" />
                          <small *ngIf="submitted && f.min.errors"
                                 class="invalid-feedback">
                            <div *ngIf="f.min.errors.required">
                              Data Agendada é Requerido
                            </div>
                          </small>
                        </div>
                      </div>

                    </div>

                    <div class="row">

                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="tecnico">Tecnico *</label>
                          <input [ngClass]="{
                              'is-invalid': submitted && f.tecnico.errors
                            }"
                                 class="form-control"
                                 formControlName="tecnico"
                                 id="tecnico"
                                 placeholder="Nome"
                                 type="text" />
                          <small *ngIf="submitted && f.tecnico.errors"
                                 class="invalid-feedback">
                            <div *ngIf="f.tecnico.errors.required">Tecnico</div>
                          </small>
                        </div>
                      </div>

                      <div class="col-md-2">
                        <div class="form-group">
                          <label for="unidade">Unidade *</label>
                          <select class="form-control"
                                  formControlName="unidade"
                                  id="unidade">
                            <option [value]="unidade.id"
                                    *ngFor="let unidade of unidades">
                              {{ unidade.label }}
                            </option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div class="form-group">
                          <label for="unidade">Laudo *</label>
                          <select class="form-control"
                                  formControlName="laudo"
                                  id="laudo">
                            <option [value]="laudo.id"
                                    *ngFor="let laudo of laudos">
                              {{ laudo.label }}
                            </option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="descricao">Desc Exame*</label>
                          <input [ngClass]="{
                              'is-invalid': submitted && f.descricao.errors
                            }"
                                 class="form-control"
                                 formControlName="descricao"
                                 id="descricao"
                                 placeholder="Descrição"
                                 type="text" />
                          <small *ngIf="submitted && f.descricao.errors"
                                 class="invalid-feedback">
                            <div *ngIf="f.descricao.errors.required">
                              Descrição
                            </div>
                          </small>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-actions">
                    <button (click)="cancela()"
                            class="btn btn-warning mr-1"
                            type="button">
                      <i class="feather ft-x"></i> Cancela
                    </button>
                    <button class="btn btn-primary" type="submit">
                      <i class="la la-check"></i> Confirma
                    </button>
                  </div>
                </form>
              </ng-container>
            </m-card>
          </div>
        </div>
      </section>

      <!-- // Basic form layout section end -->
    </div>
  </div>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////-->
